---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

// const listTech: { desc: string; href: string; title: string }[] = [

const listSoft: { desc: string;  title: string }[] = [
	{
		desc: "C++ (v. 14/17/20), Python (v. 2.7/3), MATLAB, Fortran ",
		title: "Programming",
	},
	{
		desc: "Bash, Powershell",
		title: "Scripting",
	},
	{
		desc: "GNU make, Git",
		title: "Bulding / Version Control",
	},
	{
		desc: "pytest, doctest (C++, Python)",
		title: "Testing",
	},
	
];

const listLibs: { desc: string;  title: string }[] = [
	{
		desc: "Pandas, SciPy, NumPy, Seaborn, Matplotlib, CERN ROOT ",
		title: "Data Analysis",
	},
	{
		desc: "Sci-Kit-Learn, TensorFlow, PyTorch",
		title: "ML & AI Development",
	},
	{
		desc: "CUDA, multiprocessing and threading",
		title: "Parallelization",
	},
	{
		desc: "COMSOL Multiphysics, Mathematica, Geant4, SUPERFISH/POISSON, SPICE",
		title: "Physics Simulations",
	},
	
];



const listHard: { desc: string;  title: string }[] = [
	{
		desc: "Oscilloscope, Function generators, HV power supply, Soldering station.",
		title: "Lab Equipments",
	},	
	{
		desc: "Rasperry Pi, Arduino, and similars.",
		title: "Micro -processors, -controllers",
	},
	{
		desc: "Red pitaya, Versa Module Eurocard(VME), NIM Modules",
		title: "Front-end readout",
	},

];


const listTools: { desc: string;  title: string }[] = [
	{
		desc: "Linux (Arch, Ubuntu, CentOS, WSL), Windows ",
		title: "Operating Systems",
	},	
	{
		desc: "VIm, VS Code, Sublime Text, Jupyter Notebook, Cursor",
		title: "IDE",
	},
	{
		desc: "Blender, Adobe Photoshop/Illustrator, Inkscape",
		title: "Visual Processing",
	},
	{
		desc: "SSH",
		title: "Network Protocol",
	},
	{
		desc: "MS / Libre Office Word, Excell and Power Point",
		title: "Productivity",
	},
];


const listKnow: { desc: string;  title: string }[] = [
	{
		desc: "Bayesian inference, Monte Carlo simulations, statistics, modeling",
		title: "Data Analysis",
	},
	{
		desc: "Deep learning, pattern recognition, data mining",
		title: "Machine Learning",
	},
	{
		desc: "Classical, quantum, particle and nuclear physics, magnetic fields",
		title: "Physics Fields",
	},
	{
		desc: "Data acquisition and processing, analogical and digital electronics",
		title: "Hardware",
	},
	{
		desc: "Teamwork, adaptability, problem solving, creativity, analytical skills.",
		title: "Soft Skills",
	},
];

---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-4">Hello World!</h1>
		<p class="mb-2">
			Hi, I’m Arif, based in Groningen, the Netherlands. I specialize in experimental nuclear physics, with hands-on experience in the instrumentation, simulation, and development of various experiments. My work spans the full process, from conceptualization to building. Currently, I’m open to new opportunities, and I created this website to help you get to know me better.
		</p>
		<SocialList />
	</section>

	<section>
		<p class="flex title mt-7"> Areas of Interest:</p> <p>Data Analysis, Object-oriented programming, Ion optical simulations, Magnetic field modelling, Monte Carlo simulations, Signal Analysis, Signal Processing, PCB Design, FPGEs </p>
	</section>

	<section class="mt-14">
		<h1 class="title mb-6">Skills</h1>
		<!-- starts here  -->
		<h2 class="title mb-1.5 text-xl">Software Development</h2>
		<dl class="space-y-1.0">
			{
				listSoft.map(({ desc,  title }) => (
					<div class="flex flex-col gap-2 md:flex-row">
						<dt>
							<span class="flex cactus-link">
								{/* <a class="cactus-link" rel="noopener noreferrer" target="_blank"> */}
									{title}:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	<!-- ends here  -->

		<!-- starts here  -->
		<br /><br />
		<h2 class="title mb-2 text-xl">Frameworks & Libraries</h2>
		<dl class="space-y-1.0">
			{
				listLibs.map(({ desc,  title }) => (
					<div class="flex flex-col gap-2 md:flex-row">
						<dt>
							<span class="flex cactus-link">
								{/* <a class="cactus-link" rel="noopener noreferrer" target="_blank"> */}
									{title}:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	<!-- ends here  -->


		<!-- starts here  -->
		<br /><br />
		<h2 class="title mb-2 text-xl">Hardware</h2>
		<dl class="space-y-1.0">

			{
				listHard.map(({ desc,  title }) => (
					<div class="flex flex-col gap-2 md:flex-row">
						<dt>
							<span class="flex cactus-link">
								{/* <a class="cactus-link" rel="noopener noreferrer" target="_blank"> */}
									{title}:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	<!-- ends here  -->

			<!-- starts here  -->
			<br /><br />
			<h2 class="title mb-2 text-xl">Misc. Tools</h2>
			<dl class="space-y-1.0">

				{
					listHard.map(({ desc,  title }) => (
						<div class="flex flex-col gap-2 md:flex-row">
							<dt>
								<span class="flex cactus-link">
									{/* <a class="cactus-link" rel="noopener noreferrer" target="_blank"> */}
										{title}:
								</span>
							</dt>
							<dd>{desc}</dd>
						</div>
					))
				}
			</dl>
		<!-- ends here  -->

	</section>
</section>


<section class="mt-16">
	<h1 class="title mb-6">Scientific Knowladge</h1>
	<dl class="space-y-1.0">

			<!-- starts here  -->				{
					listKnow.map(({ desc,  title }) => (
						<div class="flex flex-col gap-2 md:flex-row">
							<dt>
								<span class="flex cactus-link">
									{/* <a class="cactus-link" rel="noopener noreferrer" target="_blank"> */}
										{title}:
								</span>
							</dt>
							<dd>{desc}</dd>
						</div>
					))
				}
			</dl>
		<!-- ends here  -->
</section>

	<!-- <section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Contributions</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section> -->
	
</PageLayout>
